banner login %
***************************************************************************
*                                                                         *
*        !Dit systeem is ALLEEN VOOR GEAUTHORISEERDE GEBRUIKERS!          *
*                                                                         *
*   Alle communicatie van en naar dit systeem wordt gemonitord en gelogd  *
*                                                                         *
*   Iedere poging tot het verschaffen van ongeautoriseerde toegang        *
*   en/of misbruik van geautoriseerde accounts,                           *
*   zal resulteren in juridische vervolging                               *
*                                                                         *
*   Neem voor meer informatie contact op met de netwerkbeheerder          *
*                                                                         *
***************************************************************************
%

