router ospf {{ospfprocessnumber}}
 router-id {{loopback0ip}}
 auto-cost reference-bandwidth {{ospfreferencebw}}
 area 0.0.0.0 authentication message-digest
 timers throttle spf 10 100 5000
 timers throttle lsa 10 100 5000
 timers lsa arrival 80
 redistribute connected subnets
 passive-interface default
 no passive-interface {{uplink1}}
 no passive-interface {{uplink2}}
 network {{uplink1ip}} 0.0.0.0 area 0.0.0.0
 network {{uplink2ip}} 0.0.0.0 area 0.0.0.0
 network {{loopback0ip}} 0.0.0.0 area 0.0.0.0
 network {{loopback100ip}} 0.0.0.0 area 0.0.0.0